html, body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;	
}
a {
	text-decoration: none;
}
ol {
	margin: 0;
}
h2, h3, h4, h5, h6 {
	margin: 0;
}
.group {
	margin: 12px;
	padding: 12px;
}
.group__student {
	margin: 12px;	
}
.group_ka71 {
	background-color: #eeeeee;
}
.group_ka72 {
	background-color: #eeeeee;
}
.group_ka73 {
	background-color: #eeeeee;
}
.group_ka74 {
	background-color: #eeeeee;
}
.group_ka77 {
	background-color: #eeeeee;
}