.group {
	margin: 0 12px;
}
.group_ka71 {
	background-color: #eeeeee;
}
.group_ka72 {
	background-color: #eeeeee;
}
.group_ka73 {
	background-color: #eeeeee;
}
.group_ka74 {
	background-color: #eeeeee;
}
.group_ka77 {
	background-color: #eeeeee;
}